<div class="centered-container">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        LISTS
      </h1>

      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
          routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>
      </div>

      <button class="button is-primary" routerLink="/new-list">+ New List</button>
    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <h1 class="title has-text-primary">
          TASKS
        </h1>
        <div class="tasks" *ngFor="let task of tasks" (click)="onTaskClick(task)"
          [ngClass]="{ 'completed': task.completed }">
          <p>{{ task.title}}</p>
        </div>

        <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/plus-icon.svg">
        </button>
      </div>
      <div *ngIf="!tasks">
        <h1 class="title is-4">pls select the list from sidebar</h1>
      </div>
    </div>
  </div>
</div>