<div class="centered-container">
  <div class="task-manager-container">
    
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        LISTS
      </h1>

      <div class="list-menu">
        <a class="list-menu-item">
          <p>List#1</p>
        </a>
      </div>

      <button class="button is-primary">+ New List</button>
    </div>
    
    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        TASKS
      </h1> 
      <div class="tasks">
        <p>This is something I have to do</p>
      </div>
      <div class="tasks">
        <p>This is something I have to do</p>
      </div>
      <div class="tasks completed">
        <p>This is something I have to do</p>
      </div>
    </div>
  </div>
</div>